.space {
  margin-top: 250px;
}
.button-row {
  display: flex;
  gap: 59px; /* Space between buttons */
  flex: 1;
  height: 200px;   /* Optional: makes buttons taller */
}

.button-row {
  display: flex;
  gap: 59px; /* Space between buttons */
}

.button-row button {
  padding: 30px 40px;
  font-size: 70px;
  cursor: pointer;
  background-color: #2fa900;
  width: 300px;
}
