.space {
  margin-top: 250px;
}
.button-row {
  display: flex;
  gap: 59px; /* Space between buttons */
  flex: 1;
  height: 200px;   /* Optional: makes buttons taller */
}

.button-row {
  display: flex;
  gap: 59px; /* Space between buttons */
}

.button-row button {
  padding: 30px 40px;
  font-size: 57px;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  cursor: pointer;
  background-color: orange;
  width: 300px;
}

h1 {
  font-family:  'Comic Sans MS', 'Comic Sans', cursive;
}