.button-row {
  display: flex;
  gap: 59px; /* Space between buttons */
}

.button-row {
  display: flex;
  gap: 59px; /* Space between buttons */
}

.button-row button {
  padding: 30px 40px;
  font-size: 23px;
  cursor: pointer;
  background-color: #2fa900;
}
